:root {
    --light-blue: #71c9f8;
    --twitter-blue: #1da1f2;
    --input-text-background-gray: #f5f8fa;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrap {
    width: 100%;
}
.wrap .main-wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.side {
    width: 50%;
}
.left-section {
    background: var(--light-blue);
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}
.left-msg-wrap ul {
    list-style: none;
    height: 160px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-section ul li {
    color: white;
    font-size: 24px;
}
.left-section ul li span {
    font-weight: 800;
    font-size: 20px;
}
.left-section ul li i {
    padding-right: 15px;
}
.right-section {
    padding: 15px;
    flex: auto;
}
.login-form-wrap {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: auto;
}
.login-input-wrap {
    margin: 8px;
    display: flex;
    flex-direction: column;
    border-bottom: solid 2px #6e7f8e;
    background: var(--input-text-background-gray);
    width: 200px;
    height: 55px;
    padding: 10px;
    border-radius: 2px;
}
.login-input-wrap label {
    color: #657787;
    font-size: 15px;
}
.login-input-wrap input {
    border: 0px;
    height: 29px;
    background: none;
}
.login-btn {
    width: 75px;
    height: 40px;
    border-radius: 20px;
    background: white;
    font-weight: 900;
    font-size: 16px;
    border: solid 1px var(--twitter-blue);
    color: var(--twitter-blue);
}
.join-container {
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;
}
.join-wrap {
    padding-top: 300px;
    width: 390px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}
.join-wrap h2 {
    font-size: 32px;
    font-weight: 900;
}
.join-logo-wrap i {
    font-size: 40px;
    color: var(--twitter-blue);
    margin-bottom: 25px;
}
.login-signup-btn-wrap {
    width: 400px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.login-signup-btn-wrap span {
    font-size: 18px;
    font-weight: 900;
}
.login-signup-btn-wrap button {
    background: var(--twitter-blue);
    width: 100%;
    height: 40px;
    border: solid 1px var(--twitter-blue);
    font-weight: 900;
    color: white;
    border-radius: 20px;
    margin-top: 15px;
}
.login-signup-btn-wrap .login-btn {
    background: white;
    border: solid 1px var(--twitter-blue);
    color: var(--twitter-blue);
}
footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: white;
}
footer ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;

    height: 100%;
}
footer ul a {
    text-decoration: none;
    color: #657787;
    font-size: 14px;
}
footer ul li {
    padding-left: 20px;
}
